* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    margin-right: 0px;
    margin-bottom: 80px;
    width: 100;
}

.content .left {
    width: 47%;
    position: absolute;
    right: 0px;
    left: 88px;
    background-image: url(/image/img-revo11.png);
    background-repeat: no-repeat;
    margin-right: 20px 0px;
}

.content .left h6 {
    color: #96AE00;
    font-size: 20px;
}

.content .left h2 {
    color: #2D2A6E;
    font-size: 35px;
}

.content .left p {
    color: #4D5574;
}

.content button {
    background-color: #96AE00;
    color: #fff;
    font-size: 13px;
    padding: 12px 50px;
    font-weight: bold;
    border-radius: 35px;
    border: #96AE00;
    margin-top: 25px;
}

.content .right {
    width: 47%;
    left: 10px;
    text-align: center;
}

.content .right img {
    width: 100%;
}

#second .card {
    border: none;
    width: 100%;
    text-align: center;
    padding: 20px;
}

#second .card img {
    border-radius: 8px;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

#second .card img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
}

#second .card h5 {
    color: #2D2A6E;
    cursor: pointer;
}

#second .card p {
    color: #4D5574;
}
#third{
    right:0;
}
#third .col {
    width: 13%;
}

#third .card-group {
    border: none;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

#third .title-part {
    text-align: center;
    margin: 45px;
    line-height: 3;
}

#third .title-part h6 {
    color: #96AE00;
    font-style: italic;
}

#third .title-part h2 {
    color: #2D2A6E;

}

#third .title-part ul {
    color: #4D5574;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding-top: 10px;
}

#third .title-part ul:hover {
    color: #96AE00;
}


#third .card-text {
    color: yellow;
}

#third .card-body h6 {
    color: #4D5574;
}

#third .card-footer h6 {
    color: #EA0942;
}
#third .hover{
    display: none;
   margin: 0px;
}
#third .card:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
}
#third .card:hover .hover{
    display: block;
}
#third .hover button{
    background-color: #96AE00;
    color: #fff;
    font-size: 13px;
    padding: 5px 20px;
    font-weight: bold;
    border-radius: 35px;
    border: #96AE00;
    margin-top: 25px;
}
#third .hover ul{
    color: #4D5574;
    font-size: 12px;
   
}
#third .card{
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: .1s ease-in-out;
    transition: .2s ease-in-out;
}